/* ─── SUB / main ─── */
main{
    display: flex;
}
/* visual */
.visual{
    position: relative;
    flex: 3;
    width: 625px; aspect-ratio: 1/1;
    filter: grayscale(1);
    overflow: hidden;
}
.visual ul{
    position: absolute;
    width: calc(100% * 6); height: 100%;
    display: flex;
}
.visual li{
    width: calc(100% / 6); height: 100%;
}

/* leftWrap */
.leftWrap{
    flex: 2;
}
/* topBar */
.topBar>ul{
    display: flex;
}
.topBar>ul>li{
    width: 135px; height: 135px;
    background-color: var(--main-c);
    color: #fff;
}
/* title */
.topBar .title>h2{
    font-family: "Libre Baskerville", serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 135px;
}
/* img */
.topBar .img{
    background: url(../img/conpanna.jpg) center/cover no-repeat;
}
/* menu */
.topBar .menu{
    position: relative;
    z-index: 2;
}
.topBar .menu>a{
    width: 100%; height: 100%;
    display: block;
    text-align: center;
    padding: 40px;
}
.topBar .menu .icon{
    font-size: 40px;
}
.topBar .menu span{
    display: inline-block;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}
.topBar .menu .menuList{
    position: absolute;
    width: 100%;
    border: 1px solid var(--main-c);
    border-top: none;
    display: none;
}
.topBar .menu .menuList>li{
    width: 100%; height: 40px;
    background-color: #efefef;
}
.topBar .menu .menuList>li>a{
    display: block;
    width: 100%; height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #333;
    font-family: "Inter", sans-serif;
}
.topBar .menu .menuList>li:not(:last-child){
    border-bottom: 1px dotted #bfbfbf;
}
.topBar .menu .menuList>li:hover>a{
    background-color: var(--sub-c);
    color: #fff;
    font-weight: 600;
}

/* text container */
.textCon{
    position: relative;
    width: 100%;
    height: 490px;
    overflow: auto;
    padding: 40px;
}
.textCon::-webkit-scrollbar{
    display: none;
}
.textCon>p{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
.scroll{
    position: absolute;
    text-align: center; vertical-align: bottom;
    width: 100%; height: 100px;
    bottom: -50px; left: 0; right: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.4) 50%,rgba(255, 255, 255, 0) 70%);
}
.scroll>span{
    display: block;
    animation-name: textMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
    letter-spacing: 2px;
    line-height: 50px;
}
@keyframes textMove{
    0%{transform: translateY(0);}
    50%{transform: translateY(5px);}
    100%{transform: translateY(0);}
}